/* Style général des pages du site web GLAC */

body{
    background-color: whitesmoke;
    display: flex;
    margin: 0;
    height: 100vh;
}

/* Barre de navigation latérale des menus  */
.nav-barre-laterale {
    width: 20%;
    height: 100vh;
    text-align: center;
    background-color: #007BFF;
    padding: 2%;
    box-sizing: border-box;
}

/* ligne de séparation dans la barre de navigation latérale */
.nav-barre-laterale hr{
    width: 80%;
}

/* Logo de la plateforme */
.logo-glac{
    max-width: 100%;
    width: 40%;
    height: auto;
    object-fit: contain;
}

/* Suppression des puces et des marges pour les listes du menu et des sous-menus */
.menu,
.sous-menu {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

/* Masquage des sous-menu par defaut */
.sous-menu {
    display: none;
    margin: 0%;
}

/* Positionnement relatif des elements de menu pour pouvoir positionner les sous-menu correctement en absolu */
.menu li {
    padding: 0%;
    margin: 0%;
    position: relative;
    text-align: center;
}
 
/* Affichage du sous-menu au survol du titre du sous-menu */
.menu li:hover ul {
    display: block;
    position: relative;
    top: 0%;
    /* Decalage du sous-menu de la largeur du menu */
    /* left: 31%; 
    /* Gestion de la superposition des sous-menus par rapport au reste de la page */
    z-index: 100; 
}

/* Couleur du texte du menu */
.titre-sous-menu{
    color: white; 
    text-decoration: none;
}

/* Couleur d'arriere-plan du menu au survol */
.titre-sous-menu:hover {
    background-color: #06f5d5; 
}

/* Couleur du texte du menu au survol */
.titre-sous-menu:hover a{
    color: black; 
}

/* Couleur d'arriere-plan des sous-menu */
/* Couleur du texte des sous-menu */
/* Changement de l'affichage des liens des sous-menus pour ne pas les afficher en inline-block comme les liens de menu, ils seront donc verticaux */
.option-sous-menu {
    background-color: #06f5d5;
    color: #06f5d5; 
    display: block;
}

/* Couleur d'arriere-plan des sous-menu au survol */
.option-sous-menu:hover {
    background-color: #007BFF; 
}

.option-sous-menu a {
    text-decoration: none; 
}

.option-sous-menu:hover a {
    text-decoration: underline;
}

/* Conteneur principal */
main {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* En-tête */
header {
    height: 5%;
    /* background-color: #34495E; */
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.div-en-tete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

#form-recherche{
    width: 50%;
}
#barre-recherche{
    width: 50%;
}
#btn-recherche{
    background-color: #007BFF;
    border: none;
    padding: 1%;
    width: 20%;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

#btn-recherche:hover{
    background-color: #06f5d5;
}

.notification-icon, .messagerie-icon{
    max-width: 100%;
    width: 5%;
    height: auto;
    object-fit: contain;
}

/* Section principale */
.section-principale {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    padding: 1%;
}

/* Articles */
.case-association {
    width: 80%;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.case-association h1{
    text-align: center;
}

/* Pied de page */
footer {
    height: 15%;
    /* background-color: #2C3E50; */
    background-color: #06f5d5;
    /* background-color: black; */
    color: white;
    text-align: center;
    padding: 1%;
}

.tableau-association {
    width: 100%;
    text-align: center;
}

.option-sous-menu a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.option-sous-menu a:hover {
    text-decoration: underline;
    color: #1ABC9C;
}

/* .case-association{
    background-color: white;
} */

/* .pied-de-page{
    background-color: black;
    color: white;
} */